
#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    border-radius: 2px;
}

#login-container {
    width: 100vw;
    height: 100vh;
    background-image: url(./img/loginPage.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-title {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10%;
}

.input-group {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

#id_text, #pw_text {
    width: 25%;
    padding: 8px;
    font-size: 16px;
    margin: 0 auto;
    display: block;
}


#loginBtn{
    width: 10%;
    height: 10%;
    font-size: 1.5em;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgrey;
    color: black;
    cursor: pointer;

}
#loginBtn:hover {
    background-color: gray;
    color: white;
    cursor: pointer; /* Hover 시 커서 변경 */
    transform: scale(1.02); /* 크기 1.2배 확대 */
    border-radius: 0px;
    border: 3px solid black;
    transition: transform 0.2s; /* 부드럽게 확대 */
}


