
#header {
    width: 100vw;
    height: 270px;
    display: flex;
    flex-direction: column;
    position: relative;
}


#menu{
    background-color: aquamarine;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}
#menuInfo{
    text-align: center;
    background-color: aquamarine;
    width: 100%;
    height: 50px;
    font-size: 1em;
    justify-content: center;
}
#menuInfoText{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 1.5em;
}


#master {
    display: flex;
    width: 100vw;
    margin: 0;
    padding: 0;
    height: 50px;

    font-size: 1.5em;
    align-items: center;

}
#isMaster{
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.menu-btn {
    font-size: 1.5em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: lightgray;
    color: black;
    cursor: pointer;
}   
.menu-btn:hover {
    background-color: gray;
    color: white;
    cursor: pointer; /* Hover 시 커서 변경 */
    transform: scale(1.02); /* 크기 1.2배 확대 */
    border-radius: 0px;
    border: 3px solid black;
    transition: transform 0.2s; /* 부드럽게 확대 */
}

#refresh{
    display: flex; /* 중앙 정렬을 위한 flex 컨테이너 */
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
    text-align: center;
    background-color: aquamarine;
    width: 100%;
    height: 70px;
    font-size: 1em;
}
#refreshBtn{
    background-color: greenyellow;
}

#qaBtn{
    background-color: gray;
}



#select_list_container {
    position: absolute;
    width: 100vw;
    top: 100%;
    left: 0;
    z-index: 1000;
    background-color: lightgray;
    opacity: 0.9;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    overflow-y: scroll;
}

.video_description{
    width: 80%;
    height: auto;
    position: relative;
    border: 1px solid black;
    background-color: lightyellow;
    text-align: center ;
    font-size: 15px;
    margin: 0 auto; /* 가운데 정렬 */
}
.video_description:hover{
    background-color: lightcyan;
    cursor: pointer; /* Hover 시 커서 변경 */
    transform: scale(1.02); /* 크기 1.2배 확대 */
    border-radius: 0px;
    border: 3px solid black;
    transition: transform 0.2s; /* 부드럽게 확대 */
}

.not_started {
    background: rgba(150,150,150,1);
    pointer-events: none; /* 클릭 방지 */
    filter: grayscale(0.8) ; /* 모든 내용 회색빛으로 */
}
.not_started_label {
    color: white;
    background-color: darkred;
    font-weight: bold;
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);

    padding: 4px 12px;
    border-radius: 8px;
    z-index: 2;

    filter: none; /* 흑백 필터 무시 */
}

.chat-user-btn{
    width: 80%;
    height: 10%;
    font-size: 1.5em;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    cursor: pointer;

}
.chat-user-btn:hover {
    background-color: gray;
    color: white;
    cursor: pointer; /* Hover 시 커서 변경 */
    transform: scale(1.02); /* 크기 1.2배 확대 */
    border-radius: 0px;
    border: 3px solid black;
    transition: transform 0.2s; /* 부드럽게 확대 */
}


#qa-content-container{
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

#qa-name{
    width: 100%;
    height: 10%;
    background-color: lightyellow;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    box-sizing: border-box;
    display: flex;              /* flex 컨테이너로 변경 */
    align-items: center;        /* 세로 중앙 정렬 */
    justify-content: center;
}

#qa-with-name{
    border: 3px solid black;
    border-radius: 10px;
    display: inline-block;
    padding: 0.2em 0.5em; 
}

#qa-container{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#qa-messages{
    width: 90%;
    height: 80%;
    margin: 0 auto;
    overflow-y: auto;
}



#qa-input-container{
    width: 90%;
    height: 20%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#qa-input{
    width: 80%;
    height: 70%;
    font-size: 1.2em;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

#qaSendBtn{
    width: 20%;
    height: 70%;
    font-size: 1.5em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: lightgray;
    color: black;
    cursor: pointer;
    margin-left: 10px;
}
#qaSendBtn:hover {
    background-color: gray;
    color: white;
    cursor: pointer; /* Hover 시 커서 변경 */
    transform: scale(1.02); /* 크기 1.2배 확대 */
    border-radius: 0px;
    border: 3px solid black;
    transition: transform 0.2s; /* 부드럽게 확대 */
}

#firstPageBtn{
    background-color: red;
    color: white;
    border: 5px solid black;
}

@media (max-width: 768px) {
    #menu{
        height: 80px;
    }
    #menuInfo{
        height: 30px;
    }
    #menuInfoText{
        font-size: 0.8em;
    }
    .menu-btn {
        font-size: 0.8em;
    }
}




/*
@media (max-width: 768px) {
    .menu-btn {
        font-size: 0.8em;
    }   
}
@media (max-height: 600px) {
    .menu-btn {
        font-size: 0.6em;
    }  
    #master {
        font-size: 1em;
    }   
}
@media (max-height: 400px) {
    .menu-btn {
        font-size: 0.4em;
    }   
    #master {
        font-size: 0.8em;
    }   
}
    */